

.header-section{
    /* position: relative; */
    height: 20vh;
    display: grid;
    
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:    ". login signup cert logo"
                            ". brand brand brand logo"
                            "menu menu menu menu menu";
    background-image: linear-gradient(to right, #20d1d1 70%, white 90%);
}



.login{
    grid-area: login;
}
.header-section div button{
    font-weight: 500;
    font-size: 1.1em;
    position: absolute;
    color: black;
    padding: 10px 100px;
    border: none;
    transition: .6s;
    margin: 10px;
}

.header-section .my-btn button:hover{
    cursor: pointer;
    letter-spacing: 3px;
    border-color: cyan;
    font-weight: bolder;
    /* font-size: 1.15em; */
    transition: .6s;
    background-color: #fff;
    border: 1px solid green;
}
.signup{
    grid-area: signup;
}
.cert{
    grid-area: cert;
}
.logo{
    grid-area: logo;
    /* border: 1px solid red; */
    padding: 20px;
}
.logo img{
    width: 150px;
    height: 125px;
    margin-left: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}
.brand{
    grid-area: brand;
    padding-top: 10px;
}
.brand h1{
    position: relative;
    top: 10px;
    font-size: 3em;
    text-align: center;
    color: white;
}
.menu-bar{
    grid-area: menu;
}


.modal *{
    margin: 0;
}
.modal-content{
    top: 0;
    height: 100vh;
}

.modal-btn img{
    width: 25px;
    
}




.sidebar-menu li{
    width: 80%;
    list-style: none;
    /* border: 1px solid green; */
    padding: 30px 5px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px 5px;
    transition: .3s;
    box-shadow: 0px 0px 5px lightgray;
}
.sidebar-menu li:hover{
    cursor: pointer;
    transform: scale(1.15);
    letter-spacing: 3px;
    box-shadow: 0px 0px 5px lightgray, 0 0 5px cyan;
    transition: .3s;
    color: purple;
}

.navbar-nav{
    width: 50vw;
    display: flex;
    justify-content: space-between;
}
.menu-bar{
    padding-top: 30px;
    /* border: 1px solid red; */
}
.search-btn:hover{
    cursor: pointer;
    transition: .6s;
    background-color: #20d1d1;
    font-weight: 500;
    letter-spacing: 2px;
}
.search-btn:hover span{
    color: white;
    transition: .6s;
}
.nav-item{
    width: 135px;
  
}
.nav-item .nav-link{
    border-bottom: 2px solid transparent;
    width: 0;
    transition: .6s;
}

.nav-item:hover .nav-link{
    border-bottom: 2px solid red;
    width: 135px;
    transition: .6s;
}
.dropdown-item{
    transition: .3s;
}
.dropdown-item:hover{
    background-color: rgb(85, 85, 85);
    color: white;
    transition: .3s;
}
